<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5p %d{yyyy-MM-dd HH:mm:ss.SSS}] [%t] %l [%msg]%n"/>
        </Console>
        <RollingFile name="rollingFile" fileName="/data/logs/demo-service-log4j2/demo-service-log4j2.log"
                     filePattern="/data/logs/demo-service-log4j2/demo-service-log4j2.log.%d{yyyyMMdd-HH}-%i.gz">
            <PatternLayout pattern="[%-5p %d{yyyy-MM-dd HH:mm:ss.SSS}] [%t] %l [%msg]%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10MB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="com.yyu.project.demo.log4j2.component.SimpleLog1" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <!-- 为什么org.springframework.boot.StartupInfoLogger.logStarted日志也打到了rollingFile里呢？有时间看看Log4j的源码 -->
        <Logger name="com.yyu" level="INFO" additivity="false">
            <AppenderRef ref="rollingFile"/>
        </Logger>

        <Root level="error">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>